* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E7E7E7;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
    width: 100%;
}

header h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: bold;
}

svg {
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
}

form {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
}

form input {
    margin-right: 1rem;
    padding: 0.5rem;
    border: none;
    background-color: #fff;
}

#form__nome-contato,
#form__numero-contato {
    border-radius: .25rem;
    width: 12rem;
}

form button {
    background-color: #16820f;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    border: none;
    border-radius: .25rem;
    padding: .5rem;
    width: 12rem;
    cursor: pointer;
}

table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table tr {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}

th {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    border-bottom: 2px solid #000;
    width: 250px;
    text-align: left;
}

td {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    width: 250px;
    text-align: left;
    line-height: 2rem;
    margin-top: .5rem;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
